.banner {
  position: relative;
  width: 100vh;
  height: 50vh;
  top: 110px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 25px;
}

.banner ul {
  position: absolute;
  margin: 0px;
  padding: 0;
  list-style: none;
}

.banner ul li {
  float: left;
  width: 130vh;
  height: 70vh;
  margin: 0;
  padding: 0;
}
