/* @font-face {
  font-family: "twaysky";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap");
/* body {
  height: 100vh;
  background-size: cover;
  background-image: url("../imgs/background-img.jpeg");
  background-repeat: no-repeat;
} */
.content {
  text-align: center;
}
body {
  margin-top: 3px;
  margin-bottom: 40px;
}

.logo {
  z-index: 5;
  width: 240px;
  height: 50px;
  margin: 20px 20px;
  position: fixed;
}

.into-button {
  border-radius: 8px;
  background-color: white;
  box-shadow: rgb(126, 126, 126);
  border-color: white;
  width: 200px;
  height: 40px;
  margin: auto;
  display: block;
  margin-top: 4vh;
  font-family: "Nanum Brush Script", cursive;
  font-size: 1.2em;
}

.typing-txt {
  display: none;
}
.typing {
  padding-top: 125px;
  /* font-family: "Song Myung", serif; */
  font-family: "Nanum Brush Script", cursive;
  /* font-family: "Do Hyeon", sans-serif; */
  font-size: 25pt;
  display: flex;
  justify-content: center;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}

.text {
  font-size: 16pt;
  margin-top: 21px;
  text-align: center;
  font-family: "Nanum Brush Script", cursive;
  color: rgba(85, 85, 85, 0.521);
}

.text:hover > span {
  color: red;
}

a {
  text-decoration: none;
  color: black;
}
