/* @font-face {
  font-family: "twaysky";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&family=Song+Myung&display=swap');

/* body {
  height: 100vh;
  background-size: cover;
  background-image: url("../imgs/background-img.jpeg");
  background-repeat: no-repeat;
} */

.logo {
  z-index:5;
  width: 240px;
  height: 50px;
  margin: 20px 20px;
}

.into-button {
  border-radius: 8px;
  background-color: white;
  box-shadow: rgb(126, 126, 126);
  border-color: white;
  width: 280px;
  height: 60px;
  margin:auto;
  display:block;
  margin-top: 32vh;
  font-family: 'Noto Serif KR', serif;
  font-family: 'Song Myung', serif;
  font-size: 1.5em;
}
