@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&display=swap");

.logo {
  z-index: 5;
  width: 240px;
  height: 50px;
  margin: 20px 20px;
  position: relative;
}

#content {
  border: dashed;
  border-color: black;
  background-color: none;
  position: relative;
  width: 90%;
  height: 580px;
}

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Brush Script", cursive;
}

#text {
  margin-left: 40px;
  margin-top: 3px;
  width: 90%;
  resize: none;
}

h4 {
  margin-left: 40px;
  margin-top: 50px;
  font-size: 15pt;
  font-family: "Nanum Brush Script", cursive;
}

/* file */
.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  margin-left: 40px;
  width: 81%;
  color: #999999;
  margin-top: 8px;
  font-family: "Nanum Brush Script", cursive;
}

.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 22px;
  width: 35px;
  margin-left: 10px;
  font-size: 18pt;
  padding-left: 10px;
  margin-top: 9px;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

/* email */
#inputMail {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  margin-left: 40px;
  width: 81%;
  color: #999999;
  margin-top: 8px;
  font-family: "Nanum Brush Script", cursive;
}

label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 22px;
  width: 35px;
  margin-left: 10px;
  font-size: 18pt;
  padding-left: 10px;
  margin-top: 9px;
}

#submit {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  height: 40px;
  width: 63px;
  margin-left: 15px;
  font-size: 18pt;
  padding-left: 8px;
  padding-top:2px;
  padding-bottom:1px;
  margin-top: 9px;
  font-family: "Nanum Brush Script", cursive;
}

.mailbox input[type="submit"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
'